@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
:root {
    --main-bg-color: rgb(26, 23, 23);
    --main-txt-color: rgb(198, 198, 202);
    --main-font: 'Roboto Condensed', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
header{
    background: var(--main-bg-color);
    /* height: 60px; */
   
}
nav{
    display: flex;
    justify-content: space-between;
    
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 200px;
    padding: 0px 20px;
}
nav ul li .search button {
    position: relative;
    top: 4px;
    right: 33px;
    padding: 2px;
}

nav ul li .search button:{
    border: 5px black;
}
nav ul li .search button img{ 
    width: 20px;
} 
nav ul{
    height: 60px;
    display: flex;
    align-items: center;
}
nav ul li{
    font-family: var(--main-font);
    list-style: none;
    display: inline;
    
}
nav ul li a{
    color: var(--main-txt-color);
    text-decoration: none;
    padding: 0px 20px;
}
nav ul li a:hover{
    color: white;
}
nav ul li .search input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    padding: 0px 12px;

    /* position: relative; */
    /* top: 15px; */
    /* left: 250px; */
    /* display: flex;
    justify-content: left;
    align-items: center; */
}
.slider{
    margin: 12px auto;
    width: 74vw;
    height: 48vh;
}
h2{
    padding-bottom: 5px;
    font-family: var(--main-font);
    /* max-width: 85 vw; */
    margin: 10px 90px;
}
.card1 {
    display: flex;
    font-family: var(--main-font);
    max-width: 91vw;
    margin: 10px auto;
    overflow: scroll;
}
.card2 {
    display: flex;
    font-family: var(--main-font);
    max-width: 91vw;
    margin: 10px auto;
}
.card-item {
    width: 12vw;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 39px;
}
.card-item p {
    padding: 2px 0px;
}

.info {
    text-align: center;
}

.container{
    min-height: calc(100vh - 60px - 9vh);
}
footer{
    background: var(--main-bg-color);
    color: var(--main-txt-color);
    height: 9vh;
}